.navBarDetail{
    color: white;
    background-color: #2f3542;
    padding: 8px;
}

.navTitle{
    margin: 0;
}

.countryDetail{
    margin: auto;
    display: flex;
    justify-content:  space-around;
    align-items: center;
    width: 800px;
    height: 400px;
    margin-top: 30px;
    background-color: #2f3542;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imgDetail{
    width: 350px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.idDetail {
    color: rgb(221, 221, 221);
    margin: 0;
}

.nameDetail{
    color: #487eb0;
    margin: 0;
}

.continentDetail{
    color: #fbc531;
    margin: 0;
}

.capitalDetail {
    color: rgb(221, 221, 221);
    margin: 0;
}
.subregionDetail {
    color: rgb(221, 221, 221);
    margin: 0;
}
.areaDetail {
    color: rgb(221, 221, 221);
    margin: 0;
}
.populationDetail {
    color: rgb(221, 221, 221);
    margin: 0;
}

.showActivity{
    display: flex;
    border-radius: 30px;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    background-color: #2f3542;
    color: #fbc531;
    width: 300px;
    padding: 10px;
}

.loading{
    color: #2f3542a8;
    margin-top: 70px;
}

.cardActivity{
    margin: 20px;
    display: inline-block;
    background-color: #2f3542;
    width: 300px;
    border-radius: 10px;
}

.titleActivity{
    color: #487eb0;
    margin: 0px;
    margin-top: 5px;
}
.difficultActivity{
    margin: 0px;
    color: white;
}

.durationActivity{
    margin: 0px;
    color: white;
}

.seasonActivity{
    margin: 0px;
    color: white;
}

.containerActivity{
    background-color: rgba(255, 255, 255, 0.089);
    width: 250px;
    border-radius: 10px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 20px;
}




