.card{
    width: 200px;
    height: 180px;
    max-width: 200px;
    max-width: 280px;
    background-color: white;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    user-select: none;
    cursor: pointer;
}

.image_content{
    height: 60%;
}

.card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}

.card__title{
    color: rgb(97, 97, 97);
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    cursor: pointer;
}

.card__continent{
    display: flex;
    color: #636e72;
    font-family: 'Poppins';
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card__more{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 15px;
    cursor: pointer;
    background-color: #6c5ce7;
    padding: 6px;
    border-radius: 3px;
}

.card__more:hover{
    color: white;
} 

.detail_content:active{
    transform: scale(.9);
}