.pageDetail {
    display: flex;
    width: 100%;
    height: 90vh;
}

.countryDetail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%
}

.details--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: scroll;
}

.name--time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.nameDetail{
    color: rgb(65, 65, 65);
    margin: 0;
    font-size: 23px;
    font-family: 'Poppins';
    font-weight: bold;
    align-self: flex-start;
}

.timezone {
    color: #70a1ff;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
}

.capitalDetail {
    color: #ff4757;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    margin-top: 0.5rem;
    align-self: flex-start;
    padding-bottom: 2rem;
}

hr {
    width: 100%;               
    background-color: rgb(179, 179, 179);
}

.detail--maps {
    align-self: flex-start;
    color: rgb(71, 71, 71);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 2px;
}

.detail--maps-in {
    color: #5352ed;
}

.loading {
    margin-top: 5rem;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 15px;
    color: rgb(165, 164, 164);
}

.cardsActivity {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    width: 100%
}

.cardActivity {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerActivity {
    display: flex;
    flex-direction: column
}

.titleActivity {
    font-family: 'Poppins';
    text-transform: capitalize;
}

.DDSActivity {
    font-family: 'Poppins';
    font-size: 12px;
}

.btn-delete {
    border: 1.5px solid #3742fa;
    padding: 0.7rem;
    font-family: 'Poppins';
    background-color: transparent;
    color: #3742fa;
}

.btn-delete:active {
    transform: scale(.9)
}