.pageCreateTourism{
    background-color: #34495e;
    height: 100vh;
}

.navTourism{
    color: white;
    background-color: #2f3542;
    padding: 8px;
}

.navTitle{
    margin: 0;
}

.containerCreate{
    border-radius: 30px;
    margin-left: 120px;
    padding: 10px;
    background-color: #ecf0f1;
    margin-top: 50px;
    height: 570px;
    width: 900px;
}

.button{
    margin-top: 30px;
    background-color: #e1b12c;
    border: none;
    padding: 12px;
    border-radius: 5px;
    color: #ecf0f1;
    cursor: pointer;
}

.button:hover{
    background-color: #cca331;
}

.selectCreate{
    margin-top: 9px;
    border: none;
    padding: 8px;
    color: #ecf0f1;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    background-color: cadetblue;
    margin-right: 15px;
}

.titleCreate{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
}

.input{
    width: 200px;
    border: none;
    padding: 4px;
    margin: auto;
    font-size: 14px;
}

option{
    font-size: 15px;
}

.listCreate{
    display: inline-block;
    margin: 5px;
    background-color: #34495e;
    border-radius: 30px;
    padding: 5px;
    color: white;
    font-weight: 500;
}

.scrollDiv{
    margin-top: 8px;
    overflow-y: scroll;
    height: 400px;
}