.create_activity{
    background-image: url('../images//undraw_explore_re_8l4v.svg');
    display: flex;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    /* justify-content: space-around; */
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 90.5vh;
}



.create__title{
    font-family: 'Poppins';
    color: gray;
    font-size: 50px;
    font-weight: bold;
    align-self: flex-center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.form__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%
}

.selectStyleCountry{
    width: 100%;
    margin-bottom: 15px;
}
/* .container_create{
    display: flex;
    flex-direction: column;
}
*/

.selects{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 7px;
}

.landing_create{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.image-create{
    width: 100%
}