.create_activity{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.activityImg_content{
    width: 50%;
    height: 100vh;
}

.image_activity{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.form__content{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 70px;
    justify-content: center;
    width: 50%;
    padding: 20px;

}
.close__button{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

.create__title{
    font-family: 'Poppins';
    color: gray;
    font-size: 50px;
    font-weight: bold;
    align-self: flex-start;
}

.container_create{
    display: flex;
    flex-direction: column;
}

.activity_button{
    border: none;
    background-color: #6c5ce7;
    border-radius: 3px;
    color: white;
    padding: 6px;
    width: 130px;
    font-size: 18px;
    font-family: 'Poppins';
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    
}
.activity_button:active{
    transform: scale(.9);
}