.home{
    position: relative;
}

.countries_content{
    margin-top: 7px;
    padding-top: 13px;
    margin-right: 5px;
    height: 93vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 45% 45% 45%;
    justify-items: center;
    overflow-y: scroll;
}


/* BOTON FLOTANTE DE CREATE ACTIVITY */
.float{
	position: absolute;
	bottom: 30px;
	right:40px;
	background-color:#40739e;
	color:#FFF;
	border-radius: 15px;
    padding: 10px;
	text-align:center;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.float:hover{
    background-color: #44bd32;
    cursor: pointer;
}

/* BOTON DE NEXT PAGE */
.nextFloat{
    display: flex;
    position: absolute;
	bottom: 5px;
	right: 200px;
    width: 40px;
    height: 40px;
	background-color:#778beb;
	color:#FFF;
	border-radius: 100px;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.nextFloat:active{
    transform: scale(.9);
}

/* BOTON DE BACK PAGE  */
.beforeFloat{
    display: flex;
	position: absolute;
	bottom: 5px;
	right: 250px;
    width: 40px;
    height: 40px;
	background-color: #778beb;
	color:#FFF;
	border-radius: 50px;
    border: none;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.beforeFloat:active{
    transform: scale(.9);
}

/* PERSONALIZACION DEL SCROOLBAR */
::-webkit-scrollbar {
    width: 10px;
    margin-right: 7px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4F4537;
    border-radius: 5px;
}