.countries_grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
    row-gap: 4rem;
    padding-top: 5rem;
    padding-bottom: 40px;
}

.notAvalaible{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 23rem;
    margin-bottom: 1rem;
    margin-top: 8rem;
}

.notFound-icon{
    font-size: 10rem;
    margin: 0px
}

.notFound-text {
    margin-top: 1rem;
    font-size: 15px;
}


/* PERSONALIZACION DEL SCROOLBAR */
::-webkit-scrollbar {
    width: 10px;
    margin-right: 7px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4F4537;
    border-radius: 5px;
}

@media (max-width: 700px) {
    .countries_grid {
        grid-template-columns: 50% 50%;
    }
}

