.landing{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 30rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.landing_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.landing__description-content{
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: start;
    width: 480px;
    color: rgb(92, 92, 92);
    margin: 0px;
}

.landing__image-content{
    width: 430px;
    height: 430px;
}


@media (max-width: 905px) {
    .landing {
        height: 50rem
    }

    .landing_content {
        flex-direction: column;
        justify-content: center
    }

    .landing__image-content {
        margin-top: 3rem;
        width: 60%;
        height: auto;
    }
} 

@media (max-width: 576px) {
    .landing {
        height: 35rem
    }
    .landing__description-content {
        font-size: 40px;
        width: 380px
    }
}

@media (max-width: 400px) {
    /* .landing {
        height: 35rem
    } */
    .landing__description-content {
        font-size: 35px;
        width: 340px
    }
}