.backImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/brett-zeck-eyfMgGvo9PA-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.centerStack {
    background-color: rgba(51, 51, 51, 0.808);
    padding: 150px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
} 
.titleMain{
    margin-top: 0px;
    color: rgba(255, 255, 0, 0.897);
    font-size: 70px;
}

.btn{
    border: none;
    background-color: #4cd137;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 13px;
} 
.btn:hover{
    background-color: #40739e;
} 