.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/world-map-unsplash.jpg');
    background-size: cover;
    height: 100vh;
}

.landing-contain{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.landing__text{
    display: flex;
    justify-content: start;
    margin-top: 0px;
    color: #fdcb6e;
    font-size: 90px;
    font-weight: bold;
    font-family: 'Poppins';
}

.landing__description{
    display: flex;
    align-self: flex-start;
    text-align: start;
    color: white;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 500;
    width: 50%;
}

.btn-primary{
    display: flex;
    align-self: start;
    justify-content: center;
    width: 130px;
    font-family: 'Poppins';
    border: none;
}