.create_activity{
    background-image: url('../images//undraw_explore_re_8l4v.svg');
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 89vh;
}

.form__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    padding-top: 4rem 
}

.selectStyleCountry{
    width: 100%;
    margin-bottom: 15px;
}

.selects{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 7px;
}

.landing_create{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.image-create{
    width: 100%
}

@media (max-width: 850px) {
    .selects {
        flex-direction: column;
    }

    .responsive:nth-child(1) {
        margin-bottom: 1rem;
    }
    .responsive:nth-child(2) {
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px) {
    .form__content {
        width: 60%
    }
}