.countries {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.countries_grid{
    width: 95%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
    row-gap: 4rem;
    padding-top: 5rem;
    padding-bottom: 40px;
}

/* PERSONALIZACION DEL SCROOLBAR */
::-webkit-scrollbar {
    width: 10px;
    margin-right: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4F4537;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .countries_grid {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-width: 900px) {
    .countries_grid {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 576px) {
    .countries_grid {
        grid-template-columns: 100%;
    }
}